body {
	margin: 20px;
}

.newspaper {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.header {
	background: #fff !important;
	display: block;
	font-size: 12px;
}

.header .newspaper {
	margin-top: 0;
	padding-top: 0;
}

.preprocessed-urls {
	z-index: 1;
	border: 1px solid #e1e1e1;
	max-width: 99%;
 	overflow:hidden;
	text-overflow: ellipsis;
	word-break: break-all;
 	word-wrap: break-word;
}

.preprocessed-urls a {
	color: #333333;
	text-decoration: none;
}

.preprocessed-urls a:hover {
	text-decoration: underline;
}

.buttons {
	overflow: hidden;
}

.filter {
	float: right;
	font-size: 12px;
}

.filter input[type=text] {

	height: 26px;
	line-height: 26px;
	padding: 0px 5px;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
}

.github {
	font-size: 10px;
	color: #333333;
}

.operate-btn {
	float: left;
	display: block;
	height: 26px;
	line-height: 26px;
	padding: 0px 5px;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	margin-right: 10px;
	background-color: #eaeaea;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(1, #e0e0e0));
	background: -moz-linear-gradient(center top, #f3f3f3 0%, #e0e0e0 100%);
}

.operate-btn:active {
	background-color: #e0e0e0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #f3f3f3));
	background: -moz-linear-gradient(center top, #e0e0e0 0%, #f3f3f3 100%);
}

.more-info {
	position: absolute;
	top: 36px;
	right: 10px;
	z-index: 9999;
	border: 1px solid #eee;
	background: #aaa;
	max-width: 200px;
	max-height: 200px;
}

.more-info img {
	width: 100%;
}

ol.newspaper {
	font-size: 12px;
	text-align: left;
}

ol.newspaper li {
	position: relative;
	color: #aaa;
	border-left: 1px solid #e1e1e1;
	padding: 5px;
	background-color: #eee;
	vertical-align: top;
	text-overflow: ellipsis;
}

ol.newspaper li:nth-child(2n) {
	background-color: #fff;
}

ol.newspaper li:hover {
	background-color: #ddeeff;
}

#clipData {
	border: none;
	color: transparent;
	opacity: 0;
	position: absolute;
	left: -100px;
	top: -100px;
}

#tips {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 99%;
	padding: 5px;
	background: #fff !important;
	z-index: 998;
	color: red;
	font-weight: 600;
	font-size: 14px;
}
.previewImg{
	position: absolute;
	z-index: 1000;
	right:0;
	bottom:0;
}